.App {
  text-align: center;
}

div.ui.grid {
  height: 100%;
  margin: 1em;
}

div.ui.grid div.menu {
  height: 100%;
}

.dateInput {
  width: 20%;
  display: inline-block;
}

div.loading {
  transform-origin: center center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 45%;
  width: 120px;
  height: 120px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #32a794; /* Blue */
  border-radius: 50%;
  transform-origin: center center;
  height: 100%;
  width: 100%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ReactTable {
  text-align: right;
}

.ReactTable .rt-thead .rt-tr {
  text-align: right;
}