div.login-form-container {
    transform-origin: center center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
}

div.login-form-container .login-form {
    background-color: #cccccc;
    transform-origin: center center;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    padding: 2em;
    
}